# Spaceship Titanic Competition

### Goals: set up, do some data exploration, create a model with no nulls

To Do List - check if model can absorb nulls, if not convert floats to int (can't do that until there are no nulls)

In [11]:
import pandas as pd

final_data = pd.read_csv('test.csv')
train_data = pd.read_csv('train.csv')

In [12]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

In [13]:
# convert after I do whatever with nulls, astype can't convert null values
# train_data.Age.astype(int)

In [15]:
c = train_data._get_numeric_data()
c.dropna(axis=1, how='any', inplace=True)
# c.drop(['PassengerId', 'Transported'], axis=1, inplace=True)
c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Transported  8693 non-null   bool
dtypes: bool(1)
memory usage: 8.6 KB

### Lessons Learned! Every column has nulls and taking them all out is pretty pointless!